<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<title>HTML KickStart Elements</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" /> 
	
	<!-- Javascript -->
	<script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/static/js/kickstart.js"></script>
</head>
<body>
	<header></header>
	<main>
		{% block content %}
		<div class="grid">
			<div class="col_12" style="margin-top:100px;">
				<h1 class="center">
				<p><i class="fa fa-fire"></i></p>
				This example is blank</h1>
				<h4 style="color:#999;margin-bottom:40px;" class="center">Add some HTML KickStart Elements to see the magic happen</h4>
			</div>
		</div> <!-- End Grid -->
		{% endblock content %}
	</main>
	<footer></footer>
</body>
</html>
