{% extends 'base.html' %} 

{% block content %}
<h1>Новая категория</h1>
<form action="." method="post">
    <input class="col_12" id="caption" type="text" placeholder="Введите название категории" />
    <select class="col_12" id="parent">
        <option value="0">-- Выберите родительскую категорию --</option>
        {% for cat in categories %}
        <option value="{{cat.id}}">{{cat.caption}}</option>
        {% endfor %}
    </select>
    <button type="submit">Сохранить</button> 
</form>
{% endblock content %}